/* Cuando es un id, ponemos delante un # */
#titulo {
    color: red; 
}
/* Cuando es una clase, ponermos delante un . */
.trabajador {
    background-color:grey;
}

.tra1 {
    color:blue;
}

.tra2 {
    color:green;
}

h2 {
    text-align: center;
    padding: 5px;
}

.dp {
    border-style: solid;
}

.estudios {
    border-style: double ;
    border-width: 5px ;
}

.subrayar {
    text-decoration: underline;
}

/* Selector de etiqueta (pre */
/* pre {   
    font-style: italic;
} */